<div class="eqLogic-widget eqLogic" style="width: 350px;background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
    <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;"> #date# </a></strong></center>
    <div style="position : relative; left : 15px;" class="tooltips" title="#collectDate#">
        <div class="pull-right" style="margin-right: 20px;margin-top: 0px;">
            <div id="windDirection#id#" style="width: 80px; height: 80px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#qiblaid#"></div>
        </div>
        <span style="margin-left: 5px;">  Evènement : #event# </span><br/>
        <span style="margin-left: 5px;font-size: 0.8em;">  Imsak du jour : #imsak#</span><br/>
        <span style="margin-left: 5px;font-size: 0.8em;">  Demain : #imsak1# | #fajr1#</span>
    </div><br/>
    <div style="margin-top: -15px;">
        <center>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;">
    <center>Fajr</center>
    <center>#fajr#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;">
    <center>Shurooq</center>
    <center>#shurooq#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;">
    <center>Dhuhr</center>
    <center>#dhuhr#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;">
    <center>Asr</center>
    <center>#asr#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;">
    <center>Maghrib</center>
    <center>#maghrib#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;">
    <center>Isha</center>
    <center>#isha#</center>
</div>
</center>
    </div>
    <script>
        if($('#windDirection#id#').html() != undefined){
            new Highcharts.Chart({
                chart: {
                    renderTo: 'windDirection#id#',
                    type: 'gauge',
                    backgroundColor: 'transparent',
                    plotBackgroundColor: null,
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false,
                    spacingTop: 0,
                    spacingLeft: 0,
                    spacingRight: 0,
                    spacingBottom: 0
                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                pane: {
                    startAngle: 0,
                    endAngle: 360,
                },
                exporting : {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: false
                        },
                        color: '#FFFFFF',
                    },
                    gauge: {
                        dial: {
                            radius: '90%',
                            backgroundColor: 'silver',
                            borderColor: 'silver',
                            borderWidth: 1,
                            baseWidth: 6,
                            topWidth: 1,
                            baseLength: '75%', // of radius
                            rearLength: '15%'
                        },
                        pivot: {
                            backgroundColor: 'white',
                            radius: 0,
                        }
                    }
                },
                pane: {background: [{backgroundColor: 'transparent'}]},
                yAxis: {
                    min: 0,
                    max: 360,
                    tickWidth: 2,
                    tickLength: 10,
                    tickColor: '#FFFFFF',
                    tickInterval: 90,
                    lineColor: '#FFFFFF',
                    lineWidth: 4,
                    labels: {
                        formatter: function () {
                            if (this.value == 360) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">N</span>';
                            } else if (this.value == 90) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">E</span>';
                            } else if (this.value == 180) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">S</span>';
                            } else if (this.value == 270) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">W</span>';
                            }
                        }
                    },
                    title: {
                        text: null
                    }},
                    series: [{
                        name: 'Qibla',
                        data: [#qibla#]
                    }]
                });
}
</script>
</div>
