<div class="eqLogic eqLogic-widget" style="background-color: #background_color#" data-eqLogic_id="#id#" data-version="mobile">
    <center>#date#</center>
    <center>Fajr : #fajr#</center>
    <center>Shurooq : #shurooq#</center>
    <center>Dhuhr : #dhuhr#</center>
    <center>Asr : #asr#</center>
    <center>Maghrib : #maghrib#</center>
    <center>Isha : #isha#</center>
</div>
